/* CSS declarations go here */
.alert {
  color: red;
}

#parent {
  width:100%;
  float: left;
  background-color: #EEEEEE;
}
#leftdiv {
  width: 500px;
  float: left;
  background-color: #FFFFFF;
}
#rightdiv {
  width: 500px;
  float: left;
  padding-left: 50px;
}

