@import "w3.css";

/* CSS declarations go here */
@charset "utf-8";

body {
  background-size: auto;
  background-repeat: no-repeat;
}

img {
  width: 40vw;
  height: auto
}
video {
  width: 100%
}
#picture,
#video {
  display: none;
  margin: 0 auto;
  text-align: center;
  height: auto
}

#choices button {
  display: block;
  margin-top: 10px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(10px);
  z-index: -2;
}

#content {
  padding: 10px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left:  calc(25%);
  right: 0;
  width: calc(100% - 30%);
  z-index: -1;
  overflow: scroll;
}

#path {
  padding: 10px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left:  calc(2%);
  right: 0;
  width: calc(20%);
  z-index: -1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.square {
  width: 120px;
  height: 80px;
  margin: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.new-square {
  background-color: red;
  margin-left: 30px;
}

.valid-square {
  background-color: green;
  margin-left: 30px;
}

.thick-border {
  border: 5px solid black;
}

#stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:nth-child(odd) {
  background-color: #ccc;
}
td:first-child,
th:first-child {
  width: 30%;
}

#code form {
  display: flex;
  width: 100%;
}
#code input[type="text"] {
  flex: 1;
}
#code input[type="submit"] {
  margin-left: auto;
}

a {
  text-transform: uppercase;
}
a:link {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#github {
  align-self: flex-start;
}

#credits {
  align-self: flex-end;
}
.creditroll {
  display: block;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25%;
  left: 15%;
  right: 15%;
  bottom: 25%;
  overflow: auto;
  text-align: center;
}

#credits2 {
  text-align: right;
}

.hex-container {
  float: left;
  width: 110px; 
  height: 110px;
}

.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #333333;
  color: white;
  margin: 28.87px 0;
  font-size: 8px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #333333;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #333333;
}

.hex7 {
  position: relative;
  top: 0px;
  left: 0px;
}
.hex3 {
  position:absolute;
  top: 0px;
  left: 110px;
}
.hex5 {
  position:absolute;
  top: 0px;
  left: 220px;
}
.hex10 {
  position:absolute;
  top: 0px;
  left: 330px;
}
.hex1 {
  position:absolute;
  top: 110px;
  left: 55px;
}
.hex2 {
  position:absolute;
  top: 110px;
  left: 165px;
}
.hex9 {
  position:absolute;
  top: 110px;
  left: 275px;
}
.hex12 {
  position:absolute;
  top: 110px;
  left: 385px;
}
.hex8 {
  position:absolute;
  top: 220px;
  left: 0px;
}
.hex4 {
  position:absolute;
  top: 220px;
  left: 110px;
}
.hex6 {
  position:absolute;
  top: 220px;
  left: 220px;
}
.hex11 {
  position:absolute;
  top: 220px;
  left: 330px;
}

.my {
  background-color: darkorchid;
}

#editBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing of the textarea */
}
