@import "https://www.w3schools.com/w3css/4/w3.css";

/* CSS declarations go here */
@charset "utf-8";

.background img {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0%;
  margin-top: -37.5%;
  top: 50%;
}

.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  opacity: .8;
}

.cover- {
  background-image: linear-gradient(#c9d8e2, #ffffff);
}

.cover-cold {
  background-image: linear-gradient(#c9d8e2, #ffffff);
}

.cover-hot {
  background-image: linear-gradient(#e2c7ca, #ffffff);
}

.cover-gritty {
  background-image: linear-gradient(#a68181, #ffffff);
}

.cover-hacker {
  background-image: linear-gradient(#000000, #111111);
}

.grid-info {
  grid-area: info;
  padding-top: 10%;
  font-size: 12px;
  font-weight: bold;
}
.grid-header { 
  grid-area: header;
}
.grid-left {
  grid-area: left;
  transform: rotate(270deg)translateX(0px);
  width: 300px;
  height: 80px;
}
.grid-main { 
  grid-area: main;
  font-size: 11px;
  overflow: auto;
}

.grid-right {
  grid-area: right;
  transform: rotate(270deg)translateX(-35%);
  width: 300px;
  height: 80px;
}
.grid-footer {
  grid-area: footer;
  background: white;
  font-size: 9px;
}
.grid-l-empty {
  grid-area: l-empty;
  background: white;
}
.grid-r-empty {
  grid-area: r-empty;
  background: white;
}

.grid-title {
  grid-area: title;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto auto 20%;
  grid-template-areas:
    'info info info info'
    'left title title right'
    'left main main right'
    'left main main right'
    'left main main right'
    'l-empty footer footer r-empty';
  grid-gap: 0px;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.grid-container > div {
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: normal;
  color: rgb(112, 112, 112);
}

.font- {
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: normal;
  color: rgb(112, 112, 112);
}

.font-cold {
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: normal;
  color: rgb(112, 112, 112);
}

.font-hot {
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: normal;
  color: rgb(112, 112, 112);
}

.font-gritty {
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: normal;
  color: rgb(112, 112, 112);
}

.font-hacker {
  font-family: Consolas;
  font-style: normal;
  font-weight: normal;
  color: rgba(255,107,107,1);
}

h1 {
  font-size: 14px;
  padding-left: 10px;
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: normal;
}

.loginbox {
  position: fixed;
  top: 30%;
  left: 30%;
  right: 30%;
  color: white;
  background: rgba(33,33,33,1);
  font-family: PoynterGothicText;
  font-size: 9px;
}

.profilebox {
  position: fixed;
  height: 60%;
  width: 50%;
  overflow: auto;
  top: 30%;
  left: 30%;
  right: 30%;
  color: grey;
  font-family: PoynterGothicText;
  font-size: 9px;

  border-radius: 10px;
  border: 1px solid #DDDDDD;
  padding: 20px;
}

.profilemenu {
  position: fixed;
  height: 20%;
  width: 30%;
  top: 30%;
  left: 10%;
  color: grey;
  font-family: PoynterGothicText;
  font-size: 9px;
  padding: 20px;
}

.logo {
  font-size: 17px;
  font-weight: bold;
}

input[type=username] {
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(33,33,33,1);
  color: white;  
}

input[type=password] {
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(33,33,33,1);
  color: white;  
}

.alert {
  color: red;
}

ul {
  list-style-type: none;
}

.info {
  position: fixed;
  /* z-index: 1; */
  top: 5%;
  left: 5%;
  right: 5%;
}

.info-hacker > div > a {
  color: white;
}

.info-hacker > div > input {
  color: white;
}

.stories {
  position: fixed;
  top: 20%;
  left: 30%;
  right: 30%;
}

.github {
  position: fixed;
  left: 50%;
  clear: both;
  margin: 0 auto;
  bottom: 10%;
}

.icon {
  float: left;
}

.w3-button {
}

.caps {
  text-transform: uppercase;
}

.hex-container {
  position: relative;
  width: 600px; 
  height: 500px;
}

.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #333333;
  color: white;
  margin: 28.87px 0;
  font-size: 8px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #333333;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #333333;
}

.hex7 {
  position: absolute;
  top: 220px;
  left: 440px;
}
.hex3 {
  position:absolute;
  top: 0px;
  left: 110px;
}
.hex5 {
  position:absolute;
  top: 0px;
  left: 220px;
}
.hex10 {
  position:absolute;
  top: 0px;
  left: 330px;
}
.hex1 {
  position:absolute;
  top: 110px;
  left: 55px;
}
.hex2 {
  position:absolute;
  top: 110px;
  left: 165px;
}
.hex9 {
  position:absolute;
  top: 110px;
  left: 275px;
}
.hex12 {
  position:absolute;
  top: 110px;
  left: 385px;
}
.hex8 {
  position:absolute;
  top: 220px;
  left: 0px;
}
.hex4 {
  position:absolute;
  top: 220px;
  left: 110px;
}
.hex6 {
  position:absolute;
  top: 220px;
  left: 220px;
}
.hex11 {
  position:absolute;
  top: 220px;
  left: 330px;
}
.hex13 {
  position:absolute;
  top: 330px;
  left: 55px;
}
.hex14 {
  position:absolute;
  top: 330px;
  left: 165px;
}
.hex15 {
  position:absolute;
  top: 330px;
  left: 275px;
}
.hex16 {
  position:absolute;
  top: 330px;
  left: 385px;
}
.hex17 {
  position:absolute;
  top: 440px;
  left: 0px;
}
.hex18 {
  position:absolute;
  top: 440px;
  left: 110px;
}
.hex19 {
  position:absolute;
  top: 440px;
  left: 220px;
}
.hex20 {
  position:absolute;
  top: 440px;
  left: 330px;
}

.fullblack {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33,33,33,1);
}

.fullwhite {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
}

.fullgrid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1) url("/system/grid.png") no-repeat fixed center;
  background-size: cover;
}

