body {
  background-image: url('/system/blur.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

html, body {
  color: black;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
  overflow-y: hidden;
}

#title2 {
  font-size: 32px;
  text-align: center;
  font-family: PoynterGothicText;
  font-style: normal;
  font-weight: bold;
}

.banner {
  background-color: #ccc;
}

th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:nth-child(odd) {
  background-color: #ccc;
}

a {
  text-transform: uppercase;
}
a:link {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

